<nav>
    <div class="inner-nav">
        <div class="nav-left">
            Gigs for Denver Devs
        </div>
        <div class="nav-right">
            <a href="#/" class="active">Gigs</a>
            <a href="http://denverdevs.org/">About</a>
            <a href="http://join.denverdevs.org/">Slack</a>
        </div>
    </div>
</nav>
<div class="search">
    <div class="search-inner">
        <h2>Search</h2>
        <input type="text" placeholder="Job Title" ng-model='searchText'>
    </div>
</div>
<div class="jobs">
    <div class="search-inner">
        <div class="type-bar">
            <span class="active-type">All Jobs</span>
            <span>Full Time</span>
            <span>Part Time</span>
            <span>Contract</span>
        </div>
        <div class="job-box">
            <div class="job" ng-repeat='job in jobs | filter:searchText'>
                <p>{{job.message.text}}</p>
                <br>
                <button><a ng-href="http://denver-devs.slack.com/messages/{{job.message.user}}">APPLY</a></button>
            </div>
        </div>
    </div>
</div>
